html {
  font-size: 2.6666666667vw;
}

body {
  font-size: 0.6666666667vw;
}

.postDetailWrap {
  margin: 0 auto;
  margin-top: calc(min(1rem, 40px) * 1.625);
  width: 72.5%;
  height: 100%;
}

.postSectionTop {
  border: 1px solid #A7A7A7;
  padding-left: calc(min(1rem, 40px) * 1);
  padding-right: calc(min(1rem, 40px) * 1);
  padding-top: calc(min(1rem, 40px) * 1.1428);
  padding-bottom: calc(min(1rem, 40px) * 1.2);
  border-radius: 15px;
}

.postHeader {
  display: flex;
  justify-content: start;
  width: 100%;
  position: relative;
}

.postPofile {
  width: 5.75%;
}

.nameDateWrap {
  font-size: calc(min(1em, 10px) * 1.4);
  margin-top: calc(min(1rem, 40px) * 0.15);
  margin-left: calc(min(1rem, 40px) * 0.2);
}
.nameDateWrap .name {
  font-weight: 500;
  margin-bottom: calc(min(1rem, 40px) * 0.075);
  margin-bottom: 3px;
  line-height: calc(min(1rem, 40px) * 0.5);
}
.nameDateWrap .date {
  color: #6F6F6F;
}

.postHrtWrap {
  position: absolute;
  right: 0;
  text-align: right;
  font-size: 13px;
}

.postContent {
  margin-top: calc(min(1rem, 40px) * 0.725);
}
.postContent .postTitle {
  font-size: calc(min(1em, 10px) * 2.6);
  font-weight: 500;
}
.postContent .postCon {
  margin-top: calc(min(1rem, 40px) * 0.725);
  font-size: calc(min(1em, 10px) * 1.6);
  line-height: calc(min(1rem, 40px) * 0.75);
}
.postContent .postImg {
  margin-top: calc(min(1rem, 40px) * 0.85);
  width: 100%;
  border-radius: 10px;
}

.goodWrap {
  margin-top: calc(min(1rem, 40px) * 0.95);
  text-align: center;
}
.goodWrap .hrt {
  display: inline-block;
  width: 45px;
  height: 40px;
  background: url("../img/hrt.svg") no-repeat center center/35px;
  vertical-align: middle;
  cursor: pointer;
}
.goodWrap .hrtActive {
  background: url("../img/hrtAt.svg") no-repeat center center/35px;
}
.goodWrap .hrtTxt {
  height: 100%;
  vertical-align: middle;
  font-size: 16px;
}

.postSectionbottom {
  margin-top: calc(min(1rem, 40px) * 0.375);
  border-radius: 15px;
  background: #F9F9F9;
  padding-bottom: calc(min(1rem, 40px) * 0.6);
}

.replyTop {
  padding-left: calc(min(1rem, 40px) * 0.625);
  padding-right: calc(min(1rem, 40px) * 0.625);
  padding-top: calc(min(1rem, 40px) * 0.625);
  padding-bottom: calc(min(1rem, 40px) * 0.625);
  display: flex;
}

.replyCntWrap {
  display: flex;
  font-weight: 500;
  font-size: calc(min(1em, 10px) * 2);
}
.replyCntWrap .replyCnt {
  padding-left: calc(min(1rem, 40px) * 0.15);
}

.replyList {
  padding-left: calc(min(1rem, 40px) * 0.625);
  padding-right: calc(min(1rem, 40px) * 0.625);
  padding-bottom: calc(min(1rem, 40px) * 0.625);
}
.replyList li {
  align-items: flex-start;
  display: flex;
  position: relative;
  margin-top: calc(min(1rem, 40px) * 0.55);
  padding-bottom: calc(min(1rem, 40px) * 0.55);
  border-bottom: 1px solid #E7E7E7;
}

.nameTextWrap {
  width: 90%;
  font-size: calc(min(1em, 10px) * 1.4);
  margin-left: calc(min(1rem, 40px) * 0.2);
  margin-top: calc(min(1rem, 40px) * 0.15);
}
.nameTextWrap .txt {
  padding-top: 8px;
  line-height: calc(min(1rem, 40px) * 0.58);
}

.replyBtns {
  position: absolute;
  top: 4px;
  right: 0;
  display: flex;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
}
.replyBtns .replyGoodBtn .replyHrt {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url("../img/hrt.svg") no-repeat center center/15px;
  vertical-align: middle;
}
.replyBtns .replyGoodBtn .replyHrtActive {
  background: url("../img/hrtAt.svg") no-repeat center center/15px;
}
.replyBtns .replyReportBtn {
  margin-left: calc(min(1rem, 40px) * 0.45);
}

.writerWrap {
  background: white;
  margin-left: calc(min(1rem, 40px) * 0.625);
  margin-right: calc(min(1rem, 40px) * 0.625);
  margin-bottom: calc(min(1rem, 40px) * 0.625);
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: calc(min(1rem, 40px) * 0.625);
  padding-left: calc(min(1rem, 40px) * 0.625);
  padding-right: calc(min(1rem, 40px) * 0.625);
  padding-bottom: calc(min(1rem, 40px) * 0.625);
}
.writerWrap .userName {
  font-size: 13px;
}
.writerWrap .writerBox {
  margin-top: calc(min(1rem, 40px) * 0.625);
  width: 100%;
  font-size: 13px;
  height: calc(min(1rem, 40px) * 1.5);
  border: none;
  font-family: "NanumSquareRound";
  resize: none;
  line-height: calc(min(1rem, 40px) * 0.45);
}
.writerWrap .writerBtnWrap {
  margin-top: 3px;
  text-align: right;
}
.writerWrap .writerBtnWrap .wBtn {
  cursor: pointer;
  border: none;
  background: none;
  color: #838383;
}

/*/////////////////////////////////////////////////////////*/
.writerTextWrap {
  margin: 0 auto;
  margin-top: calc(min(1rem, 40px) * 1.325);
  width: 64.475%;
  border-top: 3px solid #2CB7A4;
}

.wtList {
  margin-top: calc(min(1rem, 40px) * 1.325);
  width: 100%;
}
.wtList li {
  display: flex;
  font-size: calc(min(1em, 10px) * 1.5);
}
.wtList li span {
  margin-top: calc(min(1rem, 40px) * 0.15);
  width: 10%;
  display: inline-block;
  font-weight: 500;
}
.wtList li p {
  display: inline-block;
  height: calc(min(1rem, 40px) * 1);
  line-height: calc(min(1rem, 40px) * 1);
  padding-left: calc(min(1rem, 40px) * 0.5);
  padding-right: calc(min(1rem, 40px) * 0.5);
  background: #F5F5F5;
  border-radius: 10px;
}
.wtList li + li {
  margin-top: calc(min(1rem, 40px) * 0.6);
}
.wtList li:nth-child(3) {
  display: flex;
  align-items: flex-start;
}
.wtList li:nth-child(3) span {
  margin-top: calc(min(1rem, 40px) * 0.25);
}

.wtTitle, .wtContent {
  vertical-align: middle;
  padding-left: calc(min(1rem, 40px) * 0.5);
  padding-right: calc(min(1rem, 40px) * 0.5);
  padding-top: calc(min(1rem, 40px) * 0.25);
  padding-bottom: calc(min(1rem, 40px) * 0.25);
  background: #F5F5F5;
  border-radius: 10px;
  border: none;
  resize: none;
  line-height: calc(min(1rem, 40px) * 0.5);
  width: 90%;
  font-family: "NanumSquareRound";
  font-weight: 400;
}

.wtTitle {
  height: calc(min(1rem, 40px) * 1);
}

.wtContent {
  height: calc(min(1rem, 40px) * 8.325);
}

.fileContainer {
  width: 100%;
}

.fileBtnWrap label {
  display: inline-block;
  padding-left: calc(min(1rem, 40px) * 0.45);
  padding-right: calc(min(1rem, 40px) * 0.45);
  height: calc(min(1rem, 40px) * 0.7);
  line-height: calc(min(1rem, 40px) * 0.7);
  border: 1px solid #2CB7A4;
  border-radius: 20px;
  color: #2CB7A4;
  cursor: pointer;
}
.fileBtnWrap label:hover {
  background: #2CB7A4;
  color: white;
}
.fileBtnWrap .fileSubText {
  display: inline;
  margin-left: calc(min(1rem, 40px) * 0.225);
  color: #9F9F9F;
}
.fileBtnWrap #file {
  display: none;
}

.fileContentWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: calc(min(1rem, 40px) * 0.3);
  padding-top: calc(min(1rem, 40px) * 0.5);
  padding-bottom: calc(min(1rem, 40px) * 0.5);
  padding-left: calc(min(1rem, 40px) * 0.5);
  padding-right: calc(min(1rem, 40px) * 0.5);
  height: calc(min(1rem, 40px) * 4);
  font-size: calc(min(1em, 10px) * 1.3);
  width: 100%;
  height: auto;
  background: #F5F5F5;
  border-radius: 10px;
}
.fileContentWrap input {
  height: calc(min(1rem, 40px) * 0.7);
  background: transparent;
  border: none;
  font-family: "NanumSquareRound";
  font-weight: 500;
}
.fileContentWrap .prvImgWrap {
  width: 15%;
  display: none;
  position: relative;
  height: calc(min(1rem, 40px) * 2);
  border-radius: 10px;
}
.fileContentWrap .prvImgWrap .imgCover {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3607843137);
  z-index: 50;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(min(1rem, 40px) * 2);
  border-radius: 10px;
}
.fileContentWrap .prvImgWrap .prvImg {
  width: 100%;
  height: calc(min(1rem, 40px) * 2);
  position: relative;
  border-radius: 10px;
}
.fileContentWrap .prvImgWrap .deleteBtn {
  display: inline-block;
  position: absolute;
  z-index: 100;
  width: 25px;
  top: 0;
  right: 0;
  background-color: white;
  padding: 16px 18px;
  border-radius: 0 10px 0 8px;
  background: url("../img/delete.svg") no-repeat center center/16px;
  cursor: pointer;
}

.submitBtnWrap {
  text-align: right;
}
.submitBtnWrap .submitBtn {
  margin-top: calc(min(1rem, 40px) * 0.8);
  border: none;
  height: calc(min(1rem, 40px) * 1.25);
  line-height: calc(min(1rem, 40px) * 1.25);
  padding-left: calc(min(1rem, 40px) * 0.75);
  padding-right: calc(min(1rem, 40px) * 0.75);
  border-radius: 30px;
  background: #2CB7A4;
  color: white;
  font-size: calc(min(1em, 10px) * 1.7);
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .postDetailWrap {
    margin-top: 39px;
    width: 100%;
  }
  .postSectionTop {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }
  .postHeader {
    margin-top: 10px;
  }
  .postPofile {
    width: 45px;
  }
  .nameDateWrap {
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
  }
  .nameDateWrap .name {
    line-height: 145%;
  }
  .postHrtWrap {
    top: 3px;
    font-size: 12px;
  }
  .postContent {
    margin-top: 28px;
  }
  .postContent .postTitle {
    font-size: 14px;
  }
  .postContent .postCon {
    margin-top: 18px;
    line-height: 160%;
    font-size: 13px;
  }
  .postContent .postImg {
    margin-top: 27px;
  }
  .goodWrap {
    margin-top: 48px;
  }
  .goodWrap .hrt {
    width: 31px;
    height: 27px;
    background-size: 30px;
  }
  .goodWrap .hrtTxt {
    font-size: 15px;
    margin-left: 5px;
  }
  .postSectionbottom {
    width: 100%;
    margin-top: 60px;
  }
  .replyTop {
    padding: 20px 20px 6px 20px;
  }
  .replyCntWrap {
    font-size: 15px;
  }
  .replyCntWrap .replyCnt {
    padding-left: 5px;
  }
  .replyList {
    padding: 0 20px 20px 20px;
  }
  .replyList li {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .nameTextWrap {
    margin-left: 10px;
    font-size: 13px;
  }
  .nameTextWrap .txt {
    font-size: 12px;
    line-height: 150%;
  }
  .replyBtns {
    font-size: 11px;
  }
  .replyBtns .replyReportBtn {
    margin-left: 9px;
  }
  .writerWrap {
    margin: 0 20px 20px 20px;
    padding: 12px 14px 14px 14px;
  }
  .writerWrap .writerBox {
    margin-top: 10px;
    height: 80px;
    line-height: 145%;
  }
  .writerWrap .writerBtnWrap .wBtn {
    font-weight: 500;
  }
}
@media (min-width: 0px) and (max-width: 420px) {
  .postDetailWrap {
    margin-top: 39px;
    width: 100%;
  }
  .postSectionTop {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
  }
  .postHeader {
    margin-top: 10px;
  }
  .postPofile {
    width: 40px;
  }
  .nameDateWrap {
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
  }
  .nameDateWrap .name {
    line-height: 145%;
  }
  .postHrtWrap {
    top: 3px;
    font-size: 12px;
  }
  .postContent {
    margin-top: 28px;
  }
  .postContent .postTitle {
    font-size: 14px;
  }
  .postContent .postCon {
    margin-top: 18px;
    line-height: 160%;
    font-size: 13px;
  }
  .postContent .postImg {
    margin-top: 27px;
  }
  .goodWrap {
    margin-top: 48px;
  }
  .goodWrap .hrt {
    width: 27px;
    height: 24px;
    background-size: 25px;
  }
  .goodWrap .hrtTxt {
    font-size: 13px;
    margin-left: 2px;
  }
  .postSectionbottom {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 50px;
  }
  .replyTop {
    padding: 20px 20px 6px 20px;
  }
  .replyCntWrap {
    font-size: 15px;
  }
  .replyCntWrap .replyCnt {
    padding-left: 5px;
  }
  .replyList {
    padding: 0 20px 20px 20px;
  }
  .replyList li {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .nameTextWrap {
    margin-left: 10px;
    font-size: 13px;
  }
  .nameTextWrap .txt {
    font-size: 12px;
    line-height: 150%;
  }
  .replyBtns {
    font-size: 11px;
  }
  .replyBtns .replyReportBtn {
    margin-left: 9px;
  }
  .writerWrap {
    margin: 0 20px 20px 20px;
    padding: 12px 14px 14px 14px;
  }
  .writerWrap .writerBox {
    margin-top: 10px;
    height: 80px;
    line-height: 145%;
  }
  .writerWrap .writerBtnWrap .wBtn {
    font-weight: 500;
  }
  /*/////////////////////////////////////////////////////////*/
  .writerTextWrap {
    width: 100%;
    margin-top: 37px;
  }
  .wtList {
    margin-top: 30px;
  }
  .wtList li {
    display: block;
    font-size: 14px;
  }
  .wtList li span {
    width: auto;
  }
  .wtList li p {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 18px;
  }
  .wtList li:nth-child(3) {
    display: block;
  }
  .wtList li + li {
    margin-top: 20px;
  }
  .wtTitle, .wtContent {
    width: 100%;
    padding: 11px 18px;
    margin-top: 10px;
    line-height: 145%;
  }
  .wtTitle {
    height: 40px;
  }
  .fileContainer {
    margin-top: 10px;
  }
  .fileBtnWrap {
    display: inline-block;
    margin-left: 12px;
  }
  .fileBtnWrap label {
    line-height: 26px;
    height: 26px;
    padding: 0 15px;
  }
  .fileContentWrap {
    padding: 15px;
    min-height: auto;
  }
  .fileContentWrap .prvImgWrap {
    width: 25%;
    min-height: 70px;
  }
  .fileContentWrap .prvImgWrap .imgCover {
    min-height: 70px;
  }
  .fileContentWrap .prvImgWrap .prvImg {
    min-height: 70px;
  }
  .fileContentWrap input {
    height: 20px;
  }
  .submitBtnWrap {
    text-align: center;
  }
  .submitBtnWrap .submitBtn {
    width: 100%;
    margin-top: 50px;
    line-height: 52px;
    height: 52px;
    font-size: 16px;
  }
}