html {
  font-size: 2.6666666667vw;
}

body {
  font-size: 0.6666666667vw;
}

.suc-wrap {
  width: 56.25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suc_img {
  display: inline-block;
  width: 15%;
}

.suc_text {
  margin-top: calc(min(1rem, 40px) * 0.825);
  font-family: "NanumSquareRound";
  font-weight: 500;
  font-size: calc(min(1em, 10px) * 2.5);
  line-height: calc(min(1rem, 40px) * 0.875);
  text-align: center;
}
.suc_text .user_id {
  color: #2CB7A4;
  margin-right: 8px;
}

.btnCheck02 {
  font-size: calc(min(1em, 10px) * 2);
  border-radius: 999px;
  border: 1px solid #2CB7A4;
  color: #2CB7A4;
  font-weight: 500;
  margin-top: calc(min(1rem, 40px) * 1.95);
  width: 41.6666666667%;
  height: calc(min(1rem, 40px) * 1.5);
  line-height: calc(min(1rem, 40px) * 1.5);
  border-radius: 30px;
  text-align: center;
  font-size: calc(min(1em, 10px) * 2);
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 1200px) {
  .suc-wrap {
    width: 90%;
  }
  .suc_img {
    min-width: 80px;
  }
  .suc_text {
    word-break: keep-all;
    margin-top: calc(max(1rem, 40px) * 0.5);
    font-family: "NanumSquareRound";
    font-weight: 500;
    font-size: calc(max(1em, 10px) * 2);
    line-height: calc(max(1rem, 40px) * 0.875);
    text-align: center;
  }
  .suc_text .user_id {
    color: #2CB7A4;
    margin-right: 8px;
  }
  .btnCheck02 {
    margin-top: calc(max(1rem, 40px) * 1);
    width: 230px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-top: 50px;
  }
}
@media (min-width: 0px) and (max-width: 420px) {
  .suc_text {
    font-size: calc(max(1em, 10px) * 1.8);
    line-height: calc(max(1rem, 40px) * 0.7);
  }
  .btnCheck02 {
    width: 220px;
    height: 40px;
    line-height: 40px;
  }
}