@use './mixins.scss' as mix;

.searchBtnWrap{
    width: calc(100% / 12 * 5.5);
    margin:0 auto;
    @include mix.mzn(pc,top,0.875);
    .searchBox{
        @include mix.fontz(pc,1.4);
        width:100%;
        border:1px solid #D0D0D0;
        @include mix.heights(pc,1.25);
        @include mix.lhz(pc,1.25);
        border-radius: 30px;
        display: flex;
        input{
            width:calc(100% / 8 * 7.5);
            @include mix.heights(pc,1.15);
            -webkit-appearance: none;
            //text-indent: 13px;
            border:none;
            padding:0;
            @include mix.pdn(pc,left,0.5);
            border-radius: 30px;
        }
        .searchBtn{
            width:calc(100% / 8 * 0.75);
            height: inherit;
            display: inline-block;
            //display: none;
            background: url('../img/search.svg')no-repeat center right calc(min(1rem, 40px) * 0.55);
            cursor: pointer;
        }
    }
}
.jobWrap{
    width: calc(100% / 12 * 10);
    margin:auto auto;
    @include mix.mzn(pc,top,1.75);
    display: flex;
    flex-wrap: wrap;
    > li{
        width:calc(50% - 10px);
        @include mix.mzn(pc,bottom,0.625);
        border:1px solid #C5C5C5;
        margin-left: 20px;
        @include mix.pdn(pc,top,.5);
        @include mix.pdn(pc,right,.5);
        @include mix.pdn(pc,left,.5);
        @include mix.pdn(pc,bottom,.5);
        border-radius: 20px;
        a{
            display: block;
        }
    }
    > li:nth-child(2n+1){
        margin-left: 0;
    }
}
.jobInfo{
    display: flex;
    img{
        $borderR : calc(min(1rem, 40px) * 0.375);
        width: calc(100% / 5 * 1.27);
        height: auto;
        border-radius: $borderR;
    }
    .jobInfoRight{
        @include mix.mzn(pc,left,0.325);
        @include mix.mzn(pc,top,0.225);
        h3{
            @include mix.fontz(pc,1.5);
            @include mix.lhz(pc,.7);
            font-weight: 500
        }
        h4,.dateWrap{
            @include mix.fontz(pc,1.4);
            @include mix.lhz(pc,.5);
            font-weight: 400;
        }
        .dateWrap{
            @include mix.mzn(pc,top,0.225);
            .time::before{
                content: "|";
                @include mix.pdn(pc,right,0.125);
            }
        }
    }
}
.jobInfoSub{
    @include mix.mzn(pc,top,0.375);
    display: flex;
    @include mix.fontz(pc,1.3);
    li{
        $borderR : calc(min(1rem, 40px) * 0.375);
        @include mix.pdn(pc,left,0.375);
        @include mix.pdn(pc,right,0.375);
        @include mix.heights(pc or mob,0.7);
        @include mix.lhz(pc or mob,0.7);
        border:1px solid #D7D7D7;
        @include mix.mzn(pc,left,0.3);
        border-radius: $borderR;
    }
    li:nth-child(1){
        margin-left: 0;
    }
}
.pageNav{
    width:calc(100% / 12 * 3);
    margin:0 auto;
    @include mix.mzn(pc,top,1.25);
    display: flex;
    justify-content: space-between;
    h4{
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 16px;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
            
        }
    }
    .prev{
        border:1px solid #E3E3E3;
        border-radius: 8px;
        background: url('../img/pgArrowPrev.svg')no-repeat center center;
    }
    .next{
        border:1px solid #E3E3E3;
        border-radius: 8px;
        background: url('../img/pgArrowNext.svg')no-repeat center center;
    }
    .pgActive{
        color:#2CB7A4;
    }
}

@include mix.mob{

    .searchBtnWrap{
        display: block;
        margin-top: 30px;
        width: 100%;
        .searchBox{
            width: 100%;
            @include mix.heights(mob,1.2);
            input{
                width: 85%;
                @include mix.heights(mob,1.15);
                @include mix.pdn(mob,left,0.45);
            }
        }
    }
    .jobWrap{
        width: 100%;
        margin-top: 35px;
        display: block;
        > li{
            width: 100vw;
            margin-left: calc(-50vw + 50%);
            border-left:0;
            border-right:0;
            border-radius: 0;
            padding:20px;
            margin-bottom: 0;
            border-top: none;

        }
        >li:nth-child(2n+1){
            margin-left: calc(-50vw + 50%);
        }
        >li:nth-child(1){
            border-top: 1px solid #C5C5C5;
        }
    }
    .jobInfo{
        img{
            border-radius: 15px;
        }
        .jobInfoRight{
            margin-top: 5px;
            margin-left: 10px;
            h3{
                font-size: 13px;
                line-height: 145%;
            }
            h4{
                margin-top: 8px;
                font-size: 12px;
                line-height: 145%;
            }
            .dateWrap{
                font-size: 12px;
                line-height: 145%;
                .time::before{
                    padding-right: 6px;
                    padding-left: 4px;
                }
            }
        }
    }
    .jobInfoSub{
        margin-top: 12px;
        font-size: 12px;
        li{
            line-height: 25px;
            height:25px;
            padding:0 10px;
            border-radius: 15px;
            margin-left:10px;
        }
    }
}