@use './mixins.scss' as mix;

.postDetailWrap{
    margin:0 auto;
    @include mix.mzn(pc,top,1.625);
    width: calc(100% / 12 * 8.7);
    
    height:100%;
}

//포스트 섹션 탑 style
.postSectionTop{
    border:1px solid #A7A7A7;
    @include mix.pdn(pc,left,1);
    @include mix.pdn(pc,right,1);
    @include mix.pdn(pc,top,1.1428);
    @include mix.pdn(pc,bottom,1.2);
    border-radius: 15px;
}
.postHeader{
    display: flex;
    justify-content: start;
    width: 100%;
    position: relative;
}
.postPofile{
    width: calc(100% / 8 * 0.46);
}
.nameDateWrap{
    @include mix.fontz(pc,1.4);
    @include mix.mzn(pc,top,0.15);
    @include mix.mzn(pc,left,0.2);
    .name{
        font-weight: 500;
        @include mix.mzn(pc,bottom,0.075);
        margin-bottom: 3px;
        @include mix.lhz(pc,.5);
    }
    .date{
        color:#6F6F6F;
    }
}
.postHrtWrap{
    position: absolute;
    right:0;
    text-align: right;
    font-size: 13px;

}

.postContent{
    @include mix.mzn(pc,top,0.725);
    .postTitle{
        @include mix.fontz(pc,2.6);
        font-weight: 500;
    }
    .postCon{
        @include mix.mzn(pc,top,0.725);
        @include mix.fontz(pc,1.6);
        @include mix.lhz(pc,0.75);
    }
    .postImg{
        @include mix.mzn(pc,top,0.85);
        width: 100%;
        border-radius: 10px;
    }
}
.goodWrap{
    @include mix.mzn(pc,top,0.95);
    text-align: center;
    .hrt{
        display: inline-block;
        width: 45px;
        height:40px;
        background: url('../img/hrt.svg')no-repeat center center / 35px;
        vertical-align: middle;
        cursor: pointer;
    }
    .hrtActive{
        background: url('../img/hrtAt.svg')no-repeat center center / 35px;
    }
    .hrtTxt{
        height: 100%;
        vertical-align: middle;
        font-size: 16px;
    }
}

//포스트 섹션 바텀 style
.postSectionbottom{
    @include mix.mzn(pc,top,0.375);
    border-radius: 15px;
    background:#F9F9F9;
    @include mix.pdn(pc,bottom,0.6);
}
.replyTop{
    @include mix.pdn(pc,left,0.625);
    @include mix.pdn(pc,right,0.625);
    @include mix.pdn(pc,top,0.625);
    @include mix.pdn(pc,bottom,0.625);
    display: flex;
}
.replyCntWrap{
    display: flex;
    font-weight: 500;
    @include mix.fontz(pc,2);
    .replyCnt{
        @include mix.pdn(pc,left,0.15);
    }
    
}

.replyList{
    @include mix.pdn(pc,left,0.625);
    @include mix.pdn(pc,right,0.625);
    @include mix.pdn(pc,bottom,0.625);
    li{
        align-items: flex-start;
        display: flex;
        position: relative;
        @include mix.mzn(pc,top,0.55);
        @include mix.pdn(pc,bottom,0.55);
        border-bottom: 1px solid #E7E7E7;
    }
}

.nameTextWrap{
    width: calc(100% / 8 * 7.2);
    @include mix.fontz(pc,1.4);
    @include mix.mzn(pc,left,0.2);
    @include mix.mzn(pc,top,0.15);
    .txt{
        padding-top: 8px;
        @include mix.lhz(pc,.58);
    }
}
.replyBtns{
    position:absolute;
    top:4px;
    right:0;
    display: flex;
    font-size: 12px;
    color:#767676;
    cursor: pointer;
    .replyGoodBtn{
        .replyHrt{
            display: inline-block;
            width: 15px;
            height:13px;
            background: url('../img/hrt.svg')no-repeat center center / 15px;
            vertical-align: middle;
        }
        .replyHrtActive{
            background: url('../img/hrtAt.svg')no-repeat center center / 15px;
        }
    }
    .replyReportBtn{
        @include mix.mzn(pc,left,0.45);

    }
}
.writerWrap{
    background: white;
    @include mix.mzn(pc,left,0.625);
    @include mix.mzn(pc,right,0.625);
    @include mix.mzn(pc,bottom,0.625);
    border-radius: 10px;
    box-sizing: border-box;
    @include mix.pdn(pc,top,0.625);
    @include mix.pdn(pc,left,0.625);
    @include mix.pdn(pc,right,0.625);
    @include mix.pdn(pc,bottom,0.625);
    .userName{
        font-size: 13px;
    }
    .writerBox{
        @include mix.mzn(pc,top,0.625);
        width: 100%;
        font-size: 13px;
        @include mix.heights(pc,1.5);
        border:none;
        font-family: 'NanumSquareRound';
        resize: none;
        @include mix.lhz(pc,0.45);
    }
    .writerBtnWrap{
        margin-top: 3px;
        text-align: right;
        .wBtn{
            cursor: pointer;
            border: none;
            background: none;
            color:#838383;
        }
    }
}

/*/////////////////////////////////////////////////////////*/
//postWriter style
.writerTextWrap{
    margin:0 auto;
    @include mix.mzn(pc,top,1.325);
    width: calc(100% / 12 * 7.737);
    border-top: 3px solid #2CB7A4;
    
}
.wtList{
    @include mix.mzn(pc,top,1.325);
    width: 100%;
    li{
        display: flex;
        @include mix.fontz(pc,1.5);
        span{
            @include mix.mzn(pc,top,0.15);
            width: calc(100% / 7 * 0.7);
            display: inline-block;
            font-weight: 500;

        }
        p{
            display: inline-block;
            @include mix.heights(pc,1);
            @include mix.lhz(pc,1);
            @include mix.pdn(pc,left,.5);
            @include mix.pdn(pc,right,.5);
            background: #F5F5F5;
            border-radius: 10px;
            
        }       
    }
    li + li{
        @include mix.mzn(pc,top,0.6);
        
    }
    li:nth-child(3){
        display: flex;
        align-items: flex-start;
        span{
            @include mix.mzn(pc,top,0.25);

        }
    }
}
.wtTitle, .wtContent{
    vertical-align: middle;
    @include mix.pdn(pc,left,.5);
    @include mix.pdn(pc,right,.5);
    @include mix.pdn(pc,top,.25);
    @include mix.pdn(pc,bottom,.25);
    background: #F5F5F5;
    border-radius: 10px;
    border:none;
    resize: none;
    @include mix.lhz(pc,.5);
    width: 90%;
    font-family: 'NanumSquareRound';
    font-weight: 400;
}
.wtTitle{
    @include mix.heights(pc,1);
}
.wtContent{
    @include mix.heights(pc,8.325);
    
}
.fileContainer{
    width: 100%;
}
.fileBtnWrap{
    
    label{
        display: inline-block;
        @include mix.pdn(pc,left,0.45);
        @include mix.pdn(pc,right,0.45);
        @include mix.heights(pc,0.7);
        @include mix.lhz(pc,0.7);
        border:1px solid #2CB7A4;
        border-radius: 20px;
        color:#2CB7A4;
        cursor: pointer;
    }
    label:hover{
        background: #2CB7A4;
        color:white;
    }
    .fileSubText{
        display: inline;
        @include mix.mzn(pc,left,0.225);
        color:#9F9F9F;

    }
    #file{
        display: none;
    }
}
.fileContentWrap{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include mix.mzn(pc,top,0.3);
    @include mix.pdn(pc,top,0.5);
    @include mix.pdn(pc,bottom,.5);
    @include mix.pdn(pc,left,.5);
    @include mix.pdn(pc,right,.5);
    @include mix.heights(pc,4);
    @include mix.fontz(pc,1.3);
    width: 100%;
    height: auto;
    background: #F5F5F5;
    border-radius: 10px;
    input{
        @include mix.heights(pc,.7);
        background: transparent;
        border:none;
        font-family: 'NanumSquareRound';
        font-weight: 500;
        

    }
    .prvImgWrap{
        width: 15%;
        display: none;
        position:relative;
        @include mix.heights(pc,2);
        border-radius: 10px;
        .imgCover{
            position: relative;
            background-color: #0000005c;
            z-index: 50;
            width: 100%;
            position: absolute;
            top:0;
            right:0;
            height: calc(min(1rem, 40px) * 2);
            border-radius: 10px;
            
        }
        .prvImg{
            width: 100%;
            @include mix.heights(pc,2);
            position:relative;
            border-radius: 10px;
        }
        .deleteBtn{
            display: inline-block;
            position: absolute;
            z-index: 100;
            width: 25px;
            top:0;
            right:0;
            background-color: white;
            padding:16px 18px;
            border-radius: 0 10px 0 8px;
            background: url('../img/delete.svg')no-repeat center center / 16px;
            cursor: pointer;
            
        }
    
    }
}
.submitBtnWrap{
    text-align: right;
    .submitBtn{
        @include mix.mzn(pc,top,0.8);
        border:none;
        @include mix.heights(pc,1.25);
        @include mix.lhz(pc,1.25);
        @include mix.pdn(pc,left,0.75);
        @include mix.pdn(pc,right,0.75);
        border-radius: 30px;
        background: #2CB7A4;
        color:white;
        @include mix.fontz(pc,1.7);
    }
}







@include mix.tab{
    .postDetailWrap{
        margin-top: 39px;
        width: 100%;
    }
    .postSectionTop{
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
    }
    .postHeader{
        margin-top: 10px;
    }
    
    .postPofile{
        width: 45px;
    }
    .nameDateWrap{
        font-size: 13px;
        margin-top: 3px;
        margin-left: 10px;

        .name{
            line-height: 145%;
        }
    }
    .postHrtWrap{
        top:3px;
        font-size: 12px;
    }

    .postContent{
        margin-top:28px;
        .postTitle{
            font-size: 14px;
        }
        .postCon{
            margin-top:18px;
            line-height: 160%;
            font-size: 13px;
        }
        .postImg{
            margin-top:27px;
            
        }
    }
    .goodWrap{
        margin-top:48px;
        .hrt{
            width: 31px;
            height: 27px;
            background-size: 30px;
        }
        .hrtTxt{
            font-size: 15px;
            margin-left: 5px;
        }
    }
    .postSectionbottom{
        width: 100%;
        margin-top:60px;
    }
    .replyTop{
        padding: 20px 20px 6px 20px;
    }
    .replyCntWrap{
        font-size: 15px;
        .replyCnt{
            padding-left: 5px;
        }
    }
    .replyList{
        padding: 0 20px 20px 20px;
        li{
            margin-top: 20px;
            padding-bottom: 20px;
        }
    }
    .nameTextWrap{
        margin-left: 10px;
        font-size: 13px;
        .txt{
            font-size: 12px;
            line-height: 150%;
        }
    }
    .replyBtns{
        font-size: 11px;
        .replyReportBtn{
            margin-left: 9px;
        }
    }
    .writerWrap{
        margin:0 20px 20px 20px;
        padding: 12px 14px 14px 14px;
        .writerBox{
            margin-top: 10px;
            height: 80px;
            line-height: 145%;
        }
        .writerBtnWrap{
            .wBtn{
                font-weight: 500;
            }
        }
    }
}
@include mix.mob{
    .postDetailWrap{
        margin-top: 39px;
        width: 100%;
    }
    .postSectionTop{
        padding-left: 0;
        padding-right: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
        border-radius: 0;
    }
    .postHeader{
        margin-top: 10px;
    }
    
    .postPofile{
        width: 40px;
    }
    .nameDateWrap{
        font-size: 13px;
        margin-top: 3px;
        margin-left: 10px;

        .name{
            line-height: 145%;
        }
    }
    .postHrtWrap{
        top:3px;
        font-size: 12px;
    }

    .postContent{
        margin-top:28px;
        .postTitle{
            font-size: 14px;
        }
        .postCon{
            margin-top:18px;
            line-height: 160%;
            font-size: 13px;
        }
        .postImg{
            margin-top:27px;
            
        }
    }
    .goodWrap{
        margin-top:48px;
        .hrt{
            width: 27px;
            height: 24px;
            background-size: 25px;
        }
        .hrtTxt{
            font-size: 13px;
            margin-left: 2px;
        }
    }
    .postSectionbottom{
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-top:50px;
    }
    .replyTop{
        padding: 20px 20px 6px 20px;
    }
    .replyCntWrap{
        font-size: 15px;
        .replyCnt{
            padding-left: 5px;
        }
    }
    .replyList{
        padding: 0 20px 20px 20px;
        li{
            margin-top: 20px;
            padding-bottom: 20px;
        }
    }
    .nameTextWrap{
        margin-left: 10px;
        font-size: 13px;
        .txt{
            font-size: 12px;
            line-height: 150%;
        }
    }
    .replyBtns{
        font-size: 11px;
        .replyReportBtn{
            margin-left: 9px;
        }
    }
    .writerWrap{
        margin:0 20px 20px 20px;
        padding: 12px 14px 14px 14px;
        .writerBox{
            margin-top: 10px;
            height: 80px;
            line-height: 145%;
        }
        .writerBtnWrap{
            .wBtn{
                font-weight: 500;
            }
        }
    }
}