@use './mixins.scss' as mix;

.content {
    width: calc(100% / 12 * 4);
    border: 1px solid red;
}
.title {
    color: #000;
    text-align: center;
    font-family: NanumSquareRound;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.formWrap {
    margin-top: 60px;
    width: 100%;
}
.formWrap__section {
    .tt {
        color: #414141;
        font-family: NanumSquareRound;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 22.1px */
        padding: 0px 0px 14px 12px;
        border-bottom: 1px solid #8D8D8D;
    }
    &:nth-child(n+1) {
        margin-top: 55px;
    }
}
.purchase-list {
    padding: 21px 7px 0;
    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EDEDED;
        p {
            font-size: 16px;
            font-weight: 500;
            color: #6D6D6D;
            padding: 11px 0;
        }
        &:nth-child(2) {
            margin-top: 10px;
            .td {
                color: #F68282;
                span {
                    font-size: 13px;
                    color: #6D6D6D;
                    margin-left: 5px;
                }
            }
        }
    }
    .th {
        padding-left: 6px;
    }
    .td {
        padding-right: 6px;
    }
}
.input-list {
    padding: 21px 7px 0;
}
.input-list__label {
    display: block;
    padding-left: 6px;
    font-family: NanumSquareRound;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
    color: #6D6D6D;
}
.input-list__box {
    margin-top: 13px;
    display: flex;

}
.cardNum-input {
    width: calc(100% / 4 * 1 - 15px);
    padding: 11px 20px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
}
.cardNum-input + span {
    width: 20px;
    display: flex;
    align-self: center;
    padding: 0 7px;
    color: #8D8D8D;
    font-family: NanumSquareRound;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
}
