@use './mixins.scss' as mix;

//id_inquiry_result CSS
.suc-wrap {
    width: calc(100% / 8 * 4.5);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.suc_img {
    display: inline-block;
    width: 15%;
}
.suc_text {
    @include mix.mzn(pc,top,0.825);
    font-family: 'NanumSquareRound';
    font-weight: 500;
    @include mix.fontz(pc,2.5);
    @include mix.lhz(pc,0.875);
    text-align: center;
    .user_id {
        color: #2CB7A4;
        margin-right: 8px;
    }
}
.btnCheck02 {
    @include mix.fontz(pc,2);
    border-radius: 999px;
    border: 1px solid #2CB7A4;
    color: #2CB7A4;
    font-weight: 500;
    @include mix.mzn(pc,top,1.95);


    width: 41.6666666667%;
    height: calc(min(1rem, 40px) * 1.5);
    line-height: calc(min(1rem, 40px) * 1.5);
    border-radius: 30px;
    text-align: center;
    font-size: calc(min(1em, 10px) * 2);
    font-weight: 500;
}

@include mix.tab{
    .suc-wrap {
        width: 90%;
    }
    .suc_img {
        min-width: 80px;
    }
    .suc_text {
        word-break: keep-all;
        @include mix.mzn(mob,top,0.5);
        font-family: 'NanumSquareRound';
        font-weight: 500;
        @include mix.fontz(mob,2);
        @include mix.lhz(mob,0.875);
        text-align: center;
        .user_id {
            color: #2CB7A4;
            margin-right: 8px;
        }
    }
    .btnCheck02 {
        @include mix.mzn(mob,top,1);
        width: 230px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin-top: 50px;
    }
}
@include mix.mob{
    .suc_text {
        @include mix.fontz(mob,1.8);
        @include mix.lhz(mob,0.7);
    }
    .btnCheck02 {
        width: 220px;
        height: 40px;
        line-height: 40px;
    }
}