@use './mixins.scss' as mix;

.content{
    .loginWrap{
        margin:0 auto;
        @include mix.mzn(pc,top,1.25);
        width: calc(100% / 12 * 6);
        
    }
}
.loginTabList{
    display: flex;
    justify-content: space-between;
    li{
        @include mix.fontz(pc,1.8);
        @include mix.heights(pc,1.575);
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 3 - 5px);
        text-align: center;
        border: 2px solid #E3E3E3;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
        color:rgb(126, 126, 126);
        
    }
}

.tabContent{
    display: none;
    @include mix.pdn(pc,top,1);
    p{
        @include mix.fontz(pc,1.8);
        text-align: center;
        font-weight: 500;
        color:#8D8D8D;
    }
}
.snsList{
    width: calc(100% / 6 * 4);
    margin:0 auto;
    @include mix.mzn(pc,top,1);
    display: flex;
    justify-content: space-between;
    li{
        width: calc(100% / 6);
        display: flex;
        flex-direction: column;
        text-align: center;
        @include mix.fontz(pc,1.6);
        cursor: pointer;
        color:#6D6D6D;
        font-weight: 400;
        span{
            margin: 0 auto;
            width: 88%;
            @include mix.heights(pc,1.45);
            // width: 58px;
            // height: 58px;
            border:1px solid #D0D0D0;
            border-radius: 50%;
            background: url('../img/sns1.svg')no-repeat center center;
            margin-bottom:10px;
            @for $i from 1 through 4{
                &.i#{$i}{
                    background : url('../img/sns#{$i}.svg')no-repeat center center / 44% auto;
                }
                &.i3{
                    background-size: 45% auto;
                }
            }
            &.i1{
                background-color: #04CF5C;
                border: none;
            }
            &.i2{
                background-color: #FFEB34;
                border: none;
            }
        }
    }
}
.loginFormWrap{
    display: flex;
    justify-content: space-between;
    @include mix.mzn(pc,top,0.7);
    .loginForm{
            width: 67%;
        input{
            width: 100%;
            @include mix.pdn(pc,top,0.5);
            @include mix.pdn(pc,bottom,0.5);
            @include mix.pdn(pc,left,0.5);
            @include mix.fontz(pc,1.4);
            color:#8F8F91;
            border-radius: 20px;
            border: 1px solid #D0D0D0;
            -webkit-appearance: none;
        }
        input + input{
            @include mix.mzn(pc,top,0.25);
        }
    }
    .loginBtn{
        width: calc(33% - 10px);
        @include mix.heights(pc,3.25);
        @include mix.lhz(pc,3.25);
        background-color: #2CB7A4;
        text-align: center;
        font-weight: 500;
        border-radius: 20px;
        color:white;
        @include mix.fontz(pc,2.5);
        cursor: pointer;
    }
}
.pcLoginFormSub{
    @include mix.mzn(pc,top,.5);
    display: flex;
    justify-content: space-between;
    color:#8D8D8D;
    label{
        font-size:14px;
        cursor: pointer;
        input{
            width: 19px;
            height:19px;
            border-radius: 8px;
            border:1px solid #D0D0D0;
            -webkit-appearance: none;
            vertical-align: middle;
            margin-top: 0;
            margin-right: 6px;
            background: url('../img/check.svg')no-repeat center center;
        }
        input:checked{
            background:#2CB7A4 url('../img/check-white.svg')no-repeat center center;
            border:none;
            transition: all 0.2s;
        }
    }
     
    ul{
        display: flex;
        font-size: 14px;
        color:#8D8D8D;
        li{
            cursor: pointer;
        }
        li::before{
            content:"|";
            padding-right: 10px;
            padding-left: 10px;
        }
        li:nth-child(1):before{
            content: none;
            cursor: none;
        }
    }
    
        
    
}
.mobLoginFormSub1{
    display: none;
}
.mobLoginFormSub2{
    display: none;
}



li.tabActive{
    border:2px solid #2CB7A4;
    border-radius: 20px;
    color:#2CB7A4;
}
.tabContentActive{
    display: block;
}


@include mix.tab{
    /*여기안에 모바일 반응형 내용입력*/
    .content{
        .loginWrap{
            @include mix.mzn(mob,top,1);
            width: 80%;
        }
    }
    .loginTabList{
        width: 100%;
        li{
            width: calc(100% / 6 * 2 - 5px);
            @include mix.heights(mob,1.45);
            @include mix.fontz(mob,1.4);
            padding: 0 10px;

        }
    }
    .tabContent{
        @include mix.pdn(mob,top,0.8);
        p{
            @include mix.fontz(mob,1.4);
            
        }
    }
    .snsList{
        width: calc(100% / 8 * 4.5);
        @include mix.mzn(mob,top,.7);
        li{
            @include mix.fontz(mob,1.4);
            width: 45px;
            span{
                width: 100%;
                height: 42px;
                
                @for $i from 1 through 4{
                    &.i#{$i}{
                        background-size: 41% auto;
                    }
                    &.i3{
                        background-size: 44% auto;
                    }
                }
            }
        }
    }
    .loginFormWrap{
        width: 100%;
        display: block;
        margin-top: 0;
        .loginForm{
            width: 100%;
            input{
                padding: 18px;
                font-size: 14px;
            }
            input + input{
                margin-top: 8px;
            }
        }
        .loginBtn{
            width: 100%;
            margin-top: 25px;
            line-height: 50px;
            height: 50px;
            font-size: 16px;
        }
    }
    .pcLoginFormSub{
        display: none;
    }
    .mobLoginFormSub1{
        display: block;
        margin-top: 10px;
        color:#8D8D8D;
        label{
            font-size:14px;
            cursor: pointer;
            input{
                width: 19px;
                height:19px;
                border-radius: 8px;
                border:1px solid #D0D0D0;
                -webkit-appearance: none;
                vertical-align: middle;
                margin-top: 0;
                margin-right: 6px;
                background: url('../img/check.svg')no-repeat center center;
            }
            input:checked{
                background:#2CB7A4 url('../img/check-white.svg')no-repeat center center;
                border:none;
                transition: all 0.2s;
            }
        }
    }
    .mobLoginFormSub2{
        display: flex;
        font-size: 13px;
        justify-content: center;
        color:#8D8D8D;
        margin-top: 17px;
        li{
            cursor: pointer;
        }
        li::before{
            content:"|";
            padding-right: 10px;
            padding-left: 10px;
        }
        li:nth-child(1):before{
            content: none;
            cursor: none;
        }
    }
    
};
@include mix.mob{
    /*여기안에 모바일 반응형 내용입력*/
    .content{
        .loginWrap{
            @include mix.mzn(mob,top,1);
            width: 100%;
        }
    }
    .loginTabList{
        width: 100%;
        li{
            width: calc(100% / 6 * 2 - 5px);
            @include mix.heights(mob,1.45);
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
    .tabContent{
        @include mix.pdn(mob,top,0.65);
        p{
            @include mix.fontz(mob,1.4);
            
        }
    }
    .snsList{
        width: calc(100% / 6 * 4);
        @include mix.mzn(mob,top,.5);
        li{
            @include mix.fontz(mob,1.4);
            width: 40px;
            span{
                width: 100%;
                height: 38px;
                
                @for $i from 1 through 4{
                    &.i#{$i}{
                        background-size: 41% auto;
                    }
                    &.i3{
                        background-size: 44% auto;
                    }
                }
            }
        }
    }
    .loginFormWrap{
        width: 100%;
        display: block;
        margin-top: 0;
        .loginForm{
            width: 100%;
            input{
                padding: 18px;
                font-size: 14px;
            }
            input + input{
                margin-top: 8px;
            }
        }
        .loginBtn{
            width: 100%;
            margin-top: 25px;
            line-height: 50px;
            height: 50px;
            font-size: 16px;
        }
    }
    .pcLoginFormSub{
        display: none;
    }
    .mobLoginFormSub1{
        display: block;
        margin-top: 10px;
        color:#8D8D8D;
        label{
            font-size:14px;
            cursor: pointer;
            input{
                width: 19px;
                height:19px;
                border-radius: 8px;
                border:1px solid #D0D0D0;
                -webkit-appearance: none;
                vertical-align: middle;
                margin-top: 0;
                margin-right: 6px;
                background: url('../img/check.svg')no-repeat center center;
            }
            input:checked{
                background:#2CB7A4 url('../img/check-white.svg')no-repeat center center;
                border:none;
                transition: all 0.2s;
            }
        }
    }
    .mobLoginFormSub2{
        display: flex;
        font-size: 13px;
        justify-content: center;
        color:#8D8D8D;
        margin-top: 17px;
        li{
            cursor: pointer;
        }
        li::before{
            content:"|";
            padding-right: 10px;
            padding-left: 10px;
        }
        li:nth-child(1):before{
            content: none;
            cursor: none;
        }
    }
    
};

